@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}

/* .rdp-months {
  flex-wrap: nowrap !important;
}
.rdp-chevron {
  fill: #c69963 !important;
}
.rdp-day_button {
  color: #c69963 !important;
}
.rdp-today:not(.rdp-outside) {
  color: white !important;
}
.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button {
  background-color: #c69963 !important;
  color: white !important;
}
.rdp-selected .rdp-day_button {
  border: 2px solid #afafc1 !important;
} */
